:root { 
--blue_gray_800_1e:#3e52491e; 
--blue_gray_50:#f1f1f1; 
--blue_gray_100_87:#d7d7d787; 
--blue_gray_100_01:#ced7d2; 
--blue_gray_100_02:#d1dad5; 
--black_900_1e:#0000001e; 
--yellow_800:#eeb519; 
--gray_500_01:#999999; 
--blue_gray_200_42:#b0c2ba42; 
--blue_gray_800:#3d5249; 
--blue_gray_900_02:#333333; 
--blue_gray_900_01:#122c41; 
--blue_gray_900_00:#122d4200; 
--blue_gray_900:#14213d; 
--blue_gray_900_63:#14213d63; 
--gray_900_02:#18211d; 
--gray_600:#7a857f; 
--gray_700:#666666; 
--gray_900_03:#262626; 
--blue_gray_100:#d9d9d9; 
--gray_500:#9f9f9f; 
--gray_900:#0e1418; 
--gray_900_01:#1e1e1e; 
--blue_gray_900_03:#122d42; 
--gray_200:#ebebeb; 
--green_50:#e2ece6; 
--gray_300:#e4e4e4; 
--gray_300_01:#e5e5e5; 
--blue_50:#e9f4fc; 
--gray_100:#f7f7f7; 
--gray_100_01:#f5f8f7; 
--white_A700_01:#fffcfd; 
--blue_gray_900_ce:#122d42ce; 
--blue_400:#48a6f0; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}